# Entornos virtuales
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos temporales
*.log
*.pot
*.mo

# Archivos de entorno (¡no subir variables sensibles!)
.env

# Base de datos (si querés mantenerla local)
*.db
*.sqlite3

# Configuraciones de IDE/editores
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Archivos de Render o producción (opcional)
instance/
*.bak

# Archivos de configuración de Render
.render/
*.render.yaml
*.render.yml
*.render.json

# Archivos de sesión de Flask
flask_session/

quesillosdb/ 
quesillos.db   
    